#introduccion {
  width: 100%;
  height: calc(500px + 20vw);

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: end;

  padding-bottom: 10px;

  background:linear-gradient(#0c2330,#0d2533,#a8c2d3,#a8c2d3,#143244);

}
/* Contenedores para los artistas */
.content-integ {
  position: absolute;
  top: calc(-65px + 1.5vw);

  width: 100%;
  height: calc(300px + 5vh);
  gap: 2vw;

  
  align-items: start;
}

/* contenedor para las imagenes */
.content-cant {

  flex-direction: column;
  justify-content: end;

  width: 21vw;
  height: 30vw;
  box-shadow: 2px 1px 5px 0.5px #fff, 2px 1px 7px #fff;
}
.aux-abajo{
  margin-top:8vw;
}

.content-cant > h2 {
  margin-bottom: 1vw;
  font-size: calc(10px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 0 1vw;
  color:#fff;
}
.content-cant > p {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5vw;
  font-size: calc(7px + 0.5vw);
  padding: 0 1vw;
  font-weight: 500;
  color:#fff;
}
.Juan-Isaza{
  background-image: url('../Imagenes/img-cantantes/Juan_Isaza.jpg');
}
.Simon-Vargas{
  background-image: url('../Imagenes/img-cantantes/Simon.jpg');
}
.Juan-Villamil{
  background-image: url('../Imagenes/img-cantantes/Juan_Pablo_Villa.jpg');
}
.Martin-Vargas {
  background-image: url('../Imagenes/img-cantantes/Martin.jpg');
}
.img-cantante-fondo{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}


/* introduccion informacion */
.subtitulo-intro {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;

}
#introduccion > p:nth-child(3) {
  margin-bottom: 60px;
  width: 90%;
  text-align: center;

}
#introduccion > p:nth-child(4) {
  margin-bottom: 50px;

}
.color-letra{
  text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 6px #000,0 0 8px #000, 0 0 8px #000;
}
@media (max-width: 768px) {
}
