#top-canciones {
  width: 100%;
  height: calc(200vh + 60vw);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pares {
  width: 100%;
  height: calc(80vh + 20vw);
  flex-direction: column;
  padding: 0 5vw;
}

.pares > h3 {
  width: 100%;
  padding: 0 0 1vw 0vw;
  font-size: calc(1rem + 2vw);
  color: #fff;
}
.pares > p {
  width: 100%;
  margin-bottom: 1.5vw;
  font-size: calc(1rem + 1vw);
  color: #fff;
}
/* Cuadro de Top */
/* 
.content-table {
  width: 80%;
  height: 60%;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
} */
.tabla-top-canciones {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
  overflow: hidden;
  color: #fff;
}
tr > td {
  text-align: center;
  background-color: #ffffff42;
  height: 15%;
}
tbody > tr {
  border-bottom: 1vw solid #143244;

  height: calc(5vh + 5vw);
}
td > p {
  width: 100%;
  text-align: start;
  margin-left: 2vw;
}
.publicacion {
  padding: 0 3vw;
}
/* imagenes para los albunes  */
.table-img-uno {
  background-image: url(../Imagenes/albunes/Ya-es-mana.png);
}
.table-img-dos {
  background-image: url(../Imagenes/albunes/si-ayer-fuera-hoy.webp);
}
.table-img-tres {
  background-image: url(../Imagenes/albunes/a-donde-vamos.webp);
}
.table-img-cuatro {
  background-image: url(../Imagenes/albunes/bala-perdidas.webp);
}
.table-img-cinco {
  background-image: url(../Imagenes/albunes/sobre-el-amor-y-sus-efectos-secundarios.webp);
}
.table-img {
  width: calc(7vh + 6vw);
  height: calc(7vh + 6vw);
  margin: 0 2vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
}
/* Repdroducir musica de top musica populares */
.img-reproducir {
  background-image: url("../Imagenes/icons/play.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  width: calc(3vh + 5vw);
  height: calc(3vh + 5vw);

  /* border:2px solid #ffffff;
  border-radius:50%; */
}
.cuadro-reproducir {
  padding-left: 3vw;
}

/* Contener las imagenes movibles */
.img-canciones-top {
  width: 100%;
  height: calc(30vh + 15vw);
}
.content-imagenes {
  width: 100%;
  height: 100%;
  padding: 0 5vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1vw;
}

.img-foto-ancho {
  height: calc(50px + 10vw);
  background-color: rgb(119, 117, 117);
  border: 1px solid #000;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
.img-uno {
  width: calc(150px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar01.jpg') ;
}
.img-dos {
  width: calc(100px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar02.jpg');
}
.img-tres {
  width: calc(200px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar04.jpg');
} 
.img-cuatro {
  width: calc(70px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar03.jpg');
}
.img-cinco {
  width: calc(100px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar07.jpg');
}
.img-seis {
  width: calc(200px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar05.jpg');
}
.img-siete {
  width: calc(70px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar08.jpg');
}
.img-ocho {
  width: calc(100px + 5vw);
  background-image: url('../Imagenes/Foto/foto-mostrar06.jpg');
}
.table-img-canciones-uno {
  background-image: url('../Imagenes/canciones/a-donde-vamos.jpg');
}
.table-img-canciones-dos{
  background-image: url('../Imagenes/canciones/besos-en-guerra.jpg');
}
.table-img-canciones-tres{
  background-image: url('../Imagenes/canciones/no-se-va.jpg');
}
.table-img-canciones-cuatro{
  background-image: url('../Imagenes/canciones/como-te-atreves-a-volver.jpg');
}
.table-img-canciones-cinco{
  background-image: url('../Imagenes/canciones/a-donde-vamos.jpg');
}