#galeria{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.galeria-titulo{
    text-align: center;
    font-size:4vw;
}

.galeria-img{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
}


.galeria-img img{
    width: 37vw;
    height: auto;
    border-radius: 20px;
}
.galeria-imagen-2{
    margin-left: 2rem;
}
.galeria-opcion-tres{
    margin-top:2rem;
}