
.principal{
    justify-content: center;
    padding-top:3rem;
}

.img{
    width:75vw;
    height: 37vw;
    background-color: rgba(165, 89, 235, 0.5);
    margin:0 auto;
    box-shadow: 0 0 50px 30px rgb(159, 86, 226);
    border-radius: 20px;
    opacity: 20px;
}

.titulo-principal{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, Arial; 
    font-size: 5vw;
    font-weight: 900;
    display:flex;
    flex-direction: row;
    justify-content: center;
    position:relative;
    top:70%;

}
.pedro-titulo-principal{
    color:antiquewhite;
}
.suarez-titulo-principal{
    color: rgb(0, 0, 0,);
    margin:auto 2rem;
}
.vertiz-titulo-principal{
    color: antiquewhite;
}